.action {
  padding: 5px 13px;
}

.actionLink {
  display: flex;
  flex-direction: row;
}

.unread {
  background-color: #eef2fb;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
}

.infoHead {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  margin-bottom: 2px;
}

.name, .convName {
  font-weight: 500;
}

.convIn {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0.35em;
}

.convName {
  color: rgba(0, 0, 0, 0.7);
}

.date {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3px;
}

.thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.typings {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  position: relative;
  height: 7px;
}

.typing {
  min-width: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transition: background-color 0.1s ease;
}

.typing:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
